.chat {
  background-color: #25c977;
  /* background: linear-gradient(to right, #00bf8f 10%, #001510 100%); */
  color: #000;
  border-radius: 14px;
  padding: 10px 10px;
  max-width: 100px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    serif;
  margin-top: 8px;
  font-size: 18px;
  margin-bottom: 10px;
}
.main {
  margin-left: 25%;
  margin-top: 8%;
  width: 60%;
  align-items: center;
  align-content: center;
}
.data {
  margin-left: 90px;
}
